@import "tailwindcss";

.blue{
    @apply text-blue-400
}

.input-box{
    @apply w-full flex justify-between gap-3 text-sm text-black rounded py-3 px-4 mb-4 mt-3 border border-slate-300 outline-none
}

.btn-primary{
    @apply w-full text-sm font-medium text-white bg-blue-400 shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:text-blue-600 cursor-pointer hover:bg-slate-300 transition-all
}

.card{
    @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100  border border-gray-200/50
}

*{
    font-family:  poppins;
}

.card-btn{
    @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:bg-blue-400 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer hover:text-white transition-colors
}

.form-card{
    @apply bg-white p-6 rounded-lg shadow-md shadow-gray-100 border border-gray-200/50 
}

.form-input{
    @apply  w-full  text-sm text-black  outline-none border border-slate-100 bg-white  px-2.5 py-3 rounded-md mt-2  placeholder:text-gray-500
}

.card-btn-fill{
    @apply flex items-center gap-3 text-[12px] font-medium text-white hover:text-blue-300 bg-blue-300 hover:bg-blue-50 px-4 py-1 rounded-lg border border-blue-300 cursor-pointer   
}


.add-btn{
    @apply w-full flex items-center justify-center gap-1.5 text-xs md:text-xs font-medium text-blue-500 hover:bg-blue-400 hover:text-white  transition-colors whitespace-nowrap   border border-blue-100/50 rounded-lg px-4 py-3 cursor-pointer
}